
.about-container {
  display: grid;
  grid-template-columns: 50% 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 150px;
  // padding: 0 110px;
  // height: 800px;
  gap: 20px;
  max-width: 1400px;
}

.about-img {
  display: flex;
  justify-content: center;
  align-items: center;
  // width: 100%;
  height: auto;
}

.about-img img {
  // max-width: 100%;
  height: 600px;
  object-fit: contain;
}

.about-presentation {
  padding-left: 40px;
}

.about-title {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(238, 129, 38);

  h2 {
    font-size: 30px;
  }
}

.Claire {
  color: rgb(238, 129, 38);
  margin: 0;
}

.Claire span {
  color: black;
}

.about-presentation p {
  text-align: justify;
  margin: 20px 0;
  letter-spacing: 1px;
  line-height: 1.5;
  font-size: 13px;
}

.social-contact {
  display: flex;
  align-items: center;
  text-align: center;
}

.links {
  cursor: pointer;
}

.links:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.links a:hover {
  color: rgb(238, 129, 38);
}

.arobase {
  font-family: $font-2;
  font-weight: 200;
  display: inline-block;
}

.vertical-line {
  margin: 0 15px;
  font-size: large;
}

// Mobile 
@media screen and (max-width: 1150px) {
  .about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    .about-presentation {
      p {
        font-size: 13px;
        margin: 10px 0;
        }
      }
  }
}
@media screen and (max-width: 768px) {
  .about-container{
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    // padding-bottom: 20px;
    margin: 0 40px;
    // margin-bottom: 480px;
    .about-img img {
      height: 100vh;
    }
    .about-presentation {
    padding: 0 0 20px 0;
    p {
      font-size: 12px;
      margin: 10px 0;
      }
      .Claire {
        margin-top: 20px;
      }
      .links {
        margin: 0;
      }
    }
  }
  
}