.image-container {
  position: relative;
  display: flex;
  margin-right: 5px;
}
.image {
  max-width: 250px;
  height: 895px;
  &:hover {
    opacity: 0.8;
  }
}

// MOBILE
@media screen and (max-width: 768px) {
  .image-container {
    margin-right: 0;
  }
}