.footer {
  background-color: rgb(238,129,38);
  color: black;
  height: 55px;
  display: flex;
  justify-content: center;
  width: 100%;
  bottom: 0;

  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    box-sizing: border-box;

    .social-contact {
      display: flex;
      align-items: center;
      gap: 5px;

      h3 {
        font-size: 15px;
      }
      .social-contact-links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5px;
        // width: 30%;

        .links {
          font-size: 20px;
          cursor: pointer;
          transition: transform .3s ease;

          &:hover {
            transform: scale(1.1);
            color: white;
          }
        }
      }
    }
    .footer-middle-part {
      display: flex;
      // justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 5px;
      // margin-right: 60px;

      p {
        font-size: 13px;
      }
      p, a {
        color: black;
      }
    }
    .copyright {
      font-size: 15px;
    }
    .legal-informations {
      font-size: 15px;
      &:hover {
        color: white;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .footer {
    .footer-container {
      width: calc(100% - 40px);
      margin: 0 30px;

      .social-contact {
        h3 {
          display: none;
        }

        .social-contact-links {
          gap: 8px;

          .links {
            font-size: 18px;
          }
        }
      }

      .footer-middle-part {
        margin: 0;

        p {
          font-size: 11px;
        }

        .copyright {
          font-size: 12px;
        }
      }

      .legal-informations {
        font-size: 12px;
      }
    }
  }
}