.footer {
  background-color: rgb(238,129,38);
  color: black;
  height: 70px;
  display: flex;
  justify-content: center;
  width: 100%;
  bottom: 0;

  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    box-sizing: border-box;

    .social-contact {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      width: 250px;
      h3 {
        font-size: 16px;
      }
      .social-contact-links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 50%;

        .links {
          font-size: 20px;
          cursor: pointer;
          transition: transform .3s ease;

          &:hover {
            transform: scale(1.1);
            color: white;
          }
        }
      }
    }
    .footer-middle-part {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 5px;

      p {
        font-size: 13px;
      }
      p, a {
        color: black;
      }
    }
    .copyright {
      font-size: 15px;
    }
    .legal-informations {
      font-size: 16px;
      &:hover {
        color: white;
      }
    }
  }
}