.full-screen-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 4000; 

  .horizontal-line {
    border: 0.2px solid rgba(0, 0, 0, 0.483);
    width: 50%;
  }
  
  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;

    .close-btn {
    font-size: 23px;
    cursor: pointer;
    margin-top: 5px;
    margin-right: 40px;

    &:hover {
      transform: scale(1.3);
    }
  }

  .home-btn {
    cursor: pointer;

    &:hover {
      transform: scale(1.3);
    }
    a:hover {
      color: rgb(238,129,38);
    }
    }
  }
  

  .photographie-menu-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;

    .menu-choices {
      display: flex;
      justify-content:center;
      align-items: center;
      flex-direction: column;
      .menu-titles {
        font-size: 25px;
        
        &:hover {
          transform: scale(1.2);
          cursor: pointer;
        }
      }
      li {
        margin-top: 40px;
      }
      .nav-link-services {
        color: orange;
        font-weight:bold;
      }
    }
  }
}

// MOBILE 
@media screen and (max-width: 768px) {
  .full-screen-menu {
      .photographie-menu-container {
        .menu-choices {
          a {
            font-size: 22px;
          }
        }
      }
    }
}
