.navbar {
  position: fixed;
  width: 100%;
  height: 150px;
  z-index: 4000;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: height .8s ease; 

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    transition: .3s ease;

    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 1200px;

      li {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        text-align: center;
      }
  
      .logo-nav {
        display: flex;
        justify-content: center;
        flex: 0 1 450px;
      }
      .logo-nav img {
        max-width: 100%;
        height: auto;
        transition: width .8s ease;
      }
      .menu {
        margin-bottom: 40px;
        letter-spacing: 1px;
        font-size: 20px;
        font-weight: bold;
        text-align: center;

        &:hover {
          transform: scale(1.1);
          transition: 0.3s ease;
        }
      }
      .menu-left {
        display: flex;
        justify-content: flex-start;
      }
      .menu-right {
        display: flex;
        justify-content: flex-end
      }
    }
  }
}

.navbar.small {
  height: 108px;
  background-color: white;
  transition: height .8s ease;
}

nav.small{
  .menu {
    margin-top: 40px;
    font-size: 18px !important;
  }
  img {
    width: 350px !important;
    transition: width 0.8s ease;
  }
  .close-btn {
    margin-bottom: 30px;
  }
}

