.main-container {
  // padding-top: 250px;
  margin-bottom: 50px;

  .title-description-food {
    width: 800px;
    line-height: 28px;
    letter-spacing: 0.5px;
    font-size: 18px;
    font-style: italic;
  }
  /* h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  } */
  .grid-container {
    max-width: 1224px;
    width: 90%;
    margin: auto;


    .photo-gallery {
      display: flex;
      gap: 20px;

      .column {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .photo img {
          width: 100%;
          height: auto;
          // border-radius: 5px;
          object-fit: cover;
          cursor: pointer;

          &:hover {
            opacity: 0.8;
            transition: opacity 0.3s ease;
          }
        }
      }
    }
  }

  // MOBILE VERSIONS (media queries)
  @media screen and (max-width: 768px){
    .main-container {
      padding-top: 150px;
    }
    .main-container-title {
      h1 {
        font-size: 20px;
      }
    }
    .title-description-food {
      font-size: 15px;
      line-height: 20px;
      width: 80%;
    }
    .grid-container {
      .photo-gallery {
        flex-direction: column;
        .column {
          .photo img {
          &:hover {
            opacity: 1;
            transition: none;
            }
          }
        }
        
      }
    }
  }
}

