.main-container {
  padding-top: 250px;
  margin-bottom: 50px;

  .main-container-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 700px;
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: center;
    gap: 20px;
  }

  h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  }
  .title-description {
    line-height: 28px;
    letter-spacing: 0.5px;
    font-size: 18px;
    font-style: italic;
  }
  .grid-container {
    max-width: 1224px;
    width: 90%;
    margin: auto;


    .photo-gallery {
      display: flex;
      gap: 20px;

      .column {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .photo img {
          width: 100%;
          height: auto;
          // border-radius: 5px;
          object-fit: cover;
          cursor: pointer;
          // box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

          &:hover {
            opacity: 0.8;
            transition: opacity 0.3s ease;
          }
        }
      }
    }
  }

  .lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 6000;
    animation: lightboxIn .5s;

    .lightbox_next,
    .lightbox_prev {
      border: none;
      background: url(../../assets/images/arrow.svg) center center / 16px 28px no-repeat;
      width: 50px;
      height: 100%;
      position: fixed;
      top: 0;
      right: 0;
      margin-top: -14px;
      z-index: 4000;
      text-indent: -3000px;

    }
    .lightbox_prev {
      right: auto;
      left: 0;
      transform: rotate(180deg);
    }
    .lightbox_close {
      width: 25px;
      height: 25px;
      top: 20px;
      right: 20px;
      background: url(../../assets/images/cross.svg) center center / 100% 100%;
      position: fixed;
      border: none;
      text-indent: -3000px;
      z-index: 9000;
    }

    button {
      opacity: 0.5;
      cursor: pointer;
      z-index: 4000;
      transition: opacity .3s;

      &:hover {
        opacity: 1;
      }
    }
    .lightbox_container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 50px;
      margin-right: 50px;
      min-height: 100vh;

      img {
      max-width: 100%;
      height: 800px;
      animation: lightboxIn .5s;
      }
    }
    
  }

  // Media queries
  @media (max-width: 768px){
    .photo-gallery {
      flex-direction: column;
    }
  }
}

@keyframes lightboxIn {
  from {opacity: 0;}
  to {opacity: 1;}
}